  <div class="card container">

    <div class="card-header">
      <p class="card-header-title is-centered">{{randomPokemon$.name}}</p>
    </div>

    <div class="card-image">
      <figure class="image is-4by3">
        <img [src]="imageToShow" alt="">
      </figure>
    </div>

    <div class="card-footer">
      <div class="card-footer-item"># {{randomPokemon$.id}}</div>

      <div class="card-footer-item" *ngFor="let poke of randomPokemon$.types">{{poke.type.name}}</div>

    </div>

  </div>
